<%- include('./partials/header.ejs') %>
<body>
    <div class="head_navbar">
        <a href="/" style="text-decoration: none;"><h1 id="heading_1">Soul Blogs</h1></a>

        <%- include('./partials/navbar.ejs') %>
    </div>

    <hr id="hr-1">

    <div class="details-content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>

    <!--Footer-->
    <!--Reason for using Hyphen is that '=' outputs strings but not special characters
        but '-' does outputs them-->
    <%- include('./partials/footer.ejs') %>

</body>
</html>