<%- include('./partials/header.ejs') %>
<body>
    <div class="head_navbar">
        <a href="/" style="text-decoration: none;"><h1 id="heading_1">Soul Blogs</h1></a>

        <%- include('./partials/navbar.ejs') %>
    </div>

    <hr id="hr-1">

    <div class="details-content">
        <div class="details-header">
            <h2><%= blog.title %></h2>
            <a class="delete" data-doc="<%= blog._id %>">delete</a>
        </div>
        
        <div class="content">
            <p><%= blog.body %></p>
        </div>
    </div>

    <!--Footer-->
    <!--Reason for using Hyphen is that '=' outputs strings but not special characters
        but '-' does outputs them-->
    <%- include('./partials/footer.ejs') %>


    <script>
        const trashcan = document.querySelector('a.delete')

        trashcan.addEventListener('click', (event) => {

            const endpoint = `/blogs/${trashcan.dataset.doc}`

            fetch(endpoint, {
                method: 'DELETE'
            })
                .then((response) => response.json())
                .then((data) => {window.location.href = '/blogs'})
                .catch((err) => {console.log(err)})
        })
    </script>
</body>
</html>